.bluechips {
    color: #00a;
}

ul.split {
    list-style: none;
    margin: 0;
    padding: 0;
}

.compact .split_block {
    display: inline;
}

.compact .split_block .split_name:after {
    content: ", ";
}

.compact .split_block:last-child .split_name:after {
    content: "";
}

.compact .split_amount {
    display: none;
}

.expanded .split_block {
    display: block;
}

.expanded .split_amount {
    display: inline;
}
