.bluechips {
    color: #00a;
}

ul.split {
    list-style: none;
    margin: 0;
    padding: 0;
}

.split_block {
    display: inline;
}

.split_block .split_name:after {
    content: ", ";
}

.split_block:last-of-type .split_name:after {
    content: "";
}

.split_amount {
    display: none;
}
